*{
    margin: 0px;
    padding: 0px;
}

#main-container{
    margin: 87px auto 40px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    width: 100%;
}
#Vision{
    width: 100%;
    padding: 48px;
    height: 300px;
    background-color: lightpink;
}
#Mision{
    width: 100%;
    padding: 48px;
    height: 300px;
    background-color: pink;
}
#Valores{
    width: 100%;
    padding: 48px;
    height: 300px;
    background-color: violet;
}
#Diagnostico{
    width: 100%;
    padding: 48px;
    height: 400px;
    background-color: lightpink;
}
#Presupuesto{
    width: 100%;
    padding: 48px;
    height: 400px;
    background-color: pink;
}
#Construccion{
    width: 100%;
    padding: 48px;
    height: 400px;
    background-color: rgb(199, 2, 199);
}
#Reparacion{
    width: 100%;
    padding: 48px;
    height: 400px;
    background-color: violet;
}
#Formulario{
    width: 100%;
    padding: 48px;
    height: 500px;
    background-color: pink;
}
#Mapa{
    width: 100%;
    padding: 48px;
    height: 500px;
    background-color: violet;
}
img{
    margin-bottom: 40px;
}
#h2Servicios{
    color: var(--veryLightGray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 25px;
}
#h2General{
    color: var(--veryLightGray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4em;
    text-transform: uppercase;
    margin-bottom: 25px;
}
p{
    color: var(--transparentWhite);
    line-height: 25px;
    margin-bottom: 25px;
    
}
footer{
    background-color: rgb(253, 146, 217);
    height: 80px;   
}
button{
    width: 148px;
    height: 46px;
    border-radius: 45px;
    border-style: none;
    background-color: var(--veryLightGray);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
label{
    display: inline-block;
    width: 100px;
}
#botones{
    color: black;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    border: 2px solid black;  
}